<!DOCTYPE html>
<html>
  <head>
    <title>Q&D OpenID Server</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    {{ head_extras }}
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="static/openid.css" rel="stylesheet">

  </head>
  <body>
  <a href="https://github.com/hobarrera/openid-server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <h1>Q&D OpenID Server</h1>
    <div class="content">
      {% block content %}
        {% if err %}
          <p class="text-error">{{ err }}</p>
        {% endif %}
        {% if msg %}
          <p class="info">{{ msg }}</p>
        {% endif %}
      {% endblock %}
    </div>
  </body>
</html>